*{
    padding:0;
    margin:0;
}


nav{
    height:10vh;
    box-shadow: 5px 5px 5px grey;
}

#web-name{
    color: midnightblue;
    padding: 2vh;
    font-size: xx-large;
    

}

#intro-img{
    background-image: url(image.png);
    background-position: center;
    background-size: cover;
    height:25vh;
    width:15vw;
    padding:5vh;
    
}

#intro-section{
    margin-top: 5vh;
    height:40vh;
    flex-wrap: wrap;
}

.row-flex{

display:flex;
flex-direction: row;
justify-content: space-evenly;
}

.column-flex{
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}

.feature-box{
    
    width: 60vw;
    height:35vh;
    border: solid 2px grey;
    border-radius: 5px ;
    margin:5vh;
    padding: 2vh;
}

.feature-heading{

    font-size: 5vh;
    font-weight: bold;
}

.upload-box{

    border: solid 1px grey;

    width:40vw;
    height: 20vh
}

.blue-button{

    color:white;
    background-color: midnightblue;
    padding: 1%;
    border: solid ;
    border-radius: 10px;
    cursor: pointer;

}

footer{

    height:30vh;
    background-color: midnightblue;
}